.music-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 2px solid #ddd;
}